* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.search_bar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 5px;
  color: pink;
}

.header {
  width: 100%;
  height: 110px;
  background-color: pink;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  border: red;
  position: fixed;
  z-index: 1500;
}

.page {
  width: 100px;
  height: 50px;
  background-color: pink;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.page1 {
  width: 130px;
  height: 50px;
  background-color: pink;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.img {
  width: 100px;
  height: 100px;
  margin-right: 0;
}

.container {
  width: 100%;
  height: 900px;
  background-color: rgb(211, 149, 159);
}

.footer {
  width: auto;
  height: 460px;
  background-color: pink;
  display: flex;
  justify-content: space-around;
}

.block {
  width: 250px;
  height: 400px;
  background-color: rgba(211, 149, 159, 0.76);
  padding: 50px;
  line-height: 35px;
}

.block1 {
  width: 300px;
  height: 355px;
  background-color: rgb(211, 149, 159);
  margin-top: 20px;
  padding: 50px;
  line-height: 50px;
  border-radius: 20px;
}

.tm {
  width: auto;
  height: 18px;
  background-color: rgb(211, 149, 159);
  font-size: 15px;
  text-align: center;
}

.containertime {
  width: 500px;
  height: 355px;
  margin-top: 20px;
  display: flex;
}

.socials {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  transition: 0.55s;
}

.socials:hover {
  width: 57px;
  height: 57px;
  transition: 0.55s;
}

.bg {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.page :hover {
  color: white;
  transition: 0.35s;
  border-bottom: white solid;
}

.page1 :hover {
  color: white;
  transition: 0.35s;
  border-bottom: white solid;
}

.block3 {
  width: auto;
  height: 750px;
  background-image: linear-gradient(rgb(219, 109, 109), pink);
}

.containerblock {
  width: 100%;
  height: 750px;
  display: flex;
}

.takeaway {
  margin-top: 85px;
  margin-left: 100px;
  border-radius: 60px;
  width: 750px;
  height: 600px;
  box-shadow: 5px 5px 10px;
}

.takeaway1 {
  margin-top: 85px;
  width: 350px;
  height: 600px;
  margin-left: 180px;
  border-radius: 60px;
  font-size: 15px;
  justify-content: center;
  transition: 0.55s;
}

.takeaway1:hover {
  box-shadow: 10px 10px 70px;
  transition: 0.55s;
}

.balk {
  width: 300px;
  height: 5px;
  background-color: black;
}

.menu {
  width: 350px;
  height: 300px;
  background-color: rgba(211, 149, 159, 0.76);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  text-align: center;
  transition: ease-out 0.55s;
}

.reservation {
  width: 350px;
  height: 300px;
  background-color: rgba(211, 149, 159, 0.76);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  text-align: center;
  transition: ease-out 0.55s;
}

.menu:hover {
  background-color: rgb(209, 88, 88);
  box-shadow: inset 0 400px 0 0 rgb(218, 77, 101);
}

.reservation:hover {
  background-color: rgb(209, 88, 88);
  box-shadow: inset 0 -400px 0 0 rgb(218, 77, 101);
}

.arrow {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  transition: 0.55s;
}

.arrow:hover {
  transition: 0.55s;
  width: 85px;
  height: 85px;
}

.cart {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* CSS for reservation */
.rsrcontainer {
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.229);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.block5 {
  width: auto;
  height: 750px;
  background-image: linear-gradient(rgb(219, 109, 109), pink);
}

/* CSS for menu pages */

.containermenu {
  width: 100%;
  height: 760px;
  background-color: rgb(255, 0, 43);
}

.block4 {
  width: auto;
  height: auto;
  background-image: linear-gradient(rgb(224, 70, 70), pink);
}

.menuorder {
  width: auto;
  height: 100px;
  background-color: rgb(241, 106, 129);
  display: flex;
  justify-content: center;
}

.menupages {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
}

.menuholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.menu1 {
  width: 450px;
  height: 450px;
}

.orderbutton {
  background-color: rgb(197, 87, 105);
  width: 100%;
  border-radius: 25px;
  display: flex;
}

.orderimg {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}

.text {
  padding: 20px;
  transition: 0.55s;
  border-radius: 25px;
}

.text:hover {
  border-radius: 20px;
  transition: 0.55s;
  box-shadow: inset -400px 0 0 0 rgb(223, 36, 67);
}
/* CSS for Login page */

.form {
  width: 400px;
  height: 320px;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.61);
  margin-left: 560px;
  margin-top: 200px;
  text-align: center;
  border-radius: 20px;
}

.psw {
  width: 250px;
  height: 25px;
  background-color: pink;
}

.usr {
  width: 250px;
  height: 25px;
  background-color: pink;
}

.sbt {
  width: 150px;
  height: 50px;
  margin-top: 100px;
  background-color: pink;
  transition: 0.35s;
}

.register {
  width: 150px;
  height: 50px;
  background-color: pink;
  transition: 0.35s;
}

.sbt:hover {
  background-color: rgb(223, 36, 67);
  transition: 0.35s;
}

.register:hover {
  background-color: rgb(223, 36, 67);
  transition: 0.35s;
}

/* CSS for backend */
.block6 {
  width: auto;
  height: auto;
  background-image: linear-gradient(rgb(219, 109, 109), pink);
}

.rsrcontainer1 {
  width: 750px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.229);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: space-around;
  border-radius: 25px;
}

.buttonsC {
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: rgb(65, 230, 68);
  transition: 0.55s;
  border-radius: 10px;
  border: solid 3px black;
}
.buttonsU {
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: blue;
}
.buttonsD {
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: red;
}

.add {
  width: 25px;
  height: 25px;
}

.products {
  width: 100%;
  height: auto;
  background-color: rgb(130, 122, 122);
  margin-top: 25px;
  border-radius: 40px;
  padding: 20px;
  border: solid black 3px;
}

/* responsive backend  */

/* Responsive Menu pages */

@media only screen and (max-width: 400px) {
  .block4 {
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 420px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
  }

  .menusushi {
    display: none;
  }

  .orderbutton {
    width: 350px;
    height: 170px;
  }

  .order {
    margin-top: -90px;
  }

  .bg {
    width: 370px;
    height: 550px;
  }

  .img {
    display: none;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }

  .block {
    padding: 40px;
    width: 200px;
  }

  .tm {
    margin-top: 705px;
  }

  .containertime {
    width: 375px;
    height: 335px;
    font-size: 15px;
  }

  .container {
    height: 100%;
    background-color: black;
  }

  .mapouter {
    display: none;
  }

  .menuorder {
    width: 365px;
  }

  .menupages {
    font-size: 20px;
  }

  .block {
    padding: 30px;
    width: 187px;
    height: 380px;
  }

  .menu1 {
    height: 150px;
  }
}

/* Responsive Home page */

@media only screen and (max-width: 400px) {
  .header {
    height: 152px;
    display: flex;
    flex-wrap: wrap;
    font-size: 5px;
  }

  .bg {
    width: 370px;
    height: 550px;
  }

  .container {
    height: 550px;
  }

  .containerblock {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    width: 200px;
    justify-content: center;
  }

  .takeaway {
    display: none;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 380px;
  }

  .block {
    padding: 30px;
    width: 187px;
    height: 380px;
  }

  .block1 {
    margin-right: 15px;
  }

  .tm {
    margin-top: 770px;
  }

  .containertime {
    width: 500px;
    font-size: 15px;
    height: 180px;
  }

  .block3 {
    width: 378px;
  }

  .img {
    display: none;
  }

  .cart {
    margin-left: 23px;
  }

  .mapouter {
    display: none;
  }
}

/* Responsive Login page */

@media only screen and (max-width: 400px) {
  .bg {
    width: 378px;
    height: 760px;
  }

  .container {
    height: 760px;
  }

  .containerblock {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    width: 200px;
    justify-content: center;
  }

  .takeaway {
    display: none;
  }

  /* .reservation {
  } */

  .footer {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }

  .block {
    width: 190px;
    padding: 33px;
  }

  .tm {
    margin-top: 705px;
  }

  .containertime {
    width: 500px;
    height: 335px;
    font-size: 15px;
  }

  .img {
    display: none;
  }

  .cart {
    margin-left: 23px;
  }

  .form {
    width: 325px;
    height: 385px;
    margin-left: -4px;
    margin-top: 180px;
  }
}
